body {
    background-color: lightgreen;
    color: white;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.mainnavbar {
    text-align: center;
    font-size: 1.2em;
    padding: 40px;
    margin-bottom: 10%;
}

.navlinks {
    font-size: 0.8;
    padding: 0px, 20px, 20px, 0;
}

a {
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: lightgreen;
}

#footer {
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

article {
    text-align: right;
    margin: 0;
    display: block;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    font-size: 12em;
    margin: 0 0.1em 0 0;
}

p {
    width: 50%;
    font-size: 1.1em;
    float: right;
    margin-right: 30px;
}

iframe {
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}

h4 {
    margin-top: 20px;
    float: left;

}

@media screen and (max-width:525px) {
    img[class="hide"] {
        display: none !important;
    }
body {
    background-color: blue;
    color: white;
    margin: 0;
}

h2 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1em;
}

.mainnavbar {
    text-align: center;
    font-size: 1em;
    padding: 40px;
    margin-bottom: 10%;
}

.navlinks {
    font-size: 0.8;
    padding: 0px, 20px, 20px, 0;
}

a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: blue;
}

#footer {
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

article {
    text-align: right;
    margin: 0;
    display: block;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    font-size: 12em;
    margin: 0 0.1em 0 0;
}

p {
    width: 50%;
    font-size: 1em;
    float: right;
    margin-right: 30px;
}

iframe {
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}

h4 {
    margin-top: 20px;
    float: left;

}

}